.setup {
  margin-top: 30px;
  padding: 25px;
}

.setup__form_div_not_open {
  display: none;
}

.setup__form_div_open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(189, 187, 187, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.setup__form {
  overflow-y: scroll;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  height: 95%;
  width: 30%;
  transition: all 0.4s;
}

.setup__form_button a {
  color: white;
}

.setup__form_button {
  /* height: 700px; */
  padding: 10px 80px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  background-color: #ffaa2b;
  border-radius: 15px;
  margin: 20px;
  cursor: pointer;
}

.setup__form h1 {
  padding-top: 25px;
  font-family: Nunito Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.setup__form_p {
  /* margin-bottom: 40px; */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #939393;
}

.setup__from_img {
  position: fixed;
  cursor: pointer;
  top: 23px;
  left: 935px;
}

.form-group {
  /* background-color: yellow; */
  padding: 20px;
}

.setup__form_input_checkbox {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  /* background-color: red; */
}

.setup__form_input {
  margin-top: 30px;
}

.big input {
  height: 120px;
}

.setup__form_input h5 {
  padding-left: 5px;
}

.setup__form_input img {
  margin-left: 6px;
  cursor: pointer;
}

.setup__form_drop_zone {
  margin-top: 7px;
  height: 110px;
  width: 270px;
  border-radius: 15px;
}

.setup__form_text_input {
  height: 90px;
  width: 270px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  padding: 5px;
}

.setup__form_input_small {
  height: 40px;
  width: 270px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: 5px;
}

.input_date {
  width: 240px;
}

input:focus {
  outline: none;
}

.setup__top_button_date_img {
  height: 12px;
  width: 12px;
  margin-right: 10px;
}

.setup__top_button_date {
  height: 35px;
  width: 70px;
  margin: 5px 10px 5px 30px;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(62, 73, 84, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.setup__top_button_date:hover {
  background-color: #e6e3e3;
}

.setup__top_button_go {
  height: 35px;
  width: 70px;
  margin: 5px 10px;
  border: none;
  background-color: #ffaa2b;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(62, 73, 84, 0.04);
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.setup__top_button_go:hover {
  background-color: #e69a28;
}

.setup__top {
  display: flex;
  justify-content: flex-start;
}

.setup__top_button_setup {
  width: 160px;
  margin-bottom: 30px;
  margin-right: 90px;
}

.setup__top_button_left_most {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.setup__middle {
  overflow-y: scroll;
  height: 550px;
  padding-left: 20px;
  width: 1200px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(62, 73, 84, 0.04);
}

.student__middle::-webkit-scrollbar {
  display: none;
}

.setup__middle::-webkit-scrollbar {
  display: none;
}

setup__middle_th {
  margin: 15px;
  overflow: visible;
  white-space: nowrap;
  padding: 25px 25px;
}

th {
  border-bottom: 2px solid #f4f4f4;
  font-size: 15px;
}

td {
  border-bottom: 1px solid #f5f5f5;
  font-weight: 500;
  text-align: center;
}

.setup__middle_td {
  overflow: visible;
  white-space: nowrap;
  padding: 0 25px;
}

.setup__middle_td_edit {
  height: 35px;
  margin: 5px;
  width: 65px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  background-color: #391995;
  border-radius: 15px;
  border: none;
}

.setup__middle_td_delete {
  margin: 5px;
  height: 35px;
  width: 65px;
  color: #171b1e;
  background-color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.setup__bottom {
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.setup__bottom p {
  font-weight: 700;
  color: #717579;
}
.setup__bottom_box {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.setup__button_box_num {
  color: #ff6175;
  cursor: pointer;
  font-weight: 700;
  border: none;
  background-color: #fff;
}

.setup__bottom_box_selected_num {
  height: 45px;
  width: 45px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: #ff6175;
  color: #fff;
  font-weight: 700;
}

.setup__button_box_arrow {
  background-color: #fbfbfb;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 40px;
}
