.upload-master {
  height: 150px !important;
}

.upload_btn {
  background: #cb444a;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  cursor: pointer;
  margin-top: 50px;
}
.upload-master button {
  border: 0;
  background: #fff;
  padding: 10px;
  cursor: pointer;
}
