.advertisment__form_div_not_open {
  display: none;
}

.advertisment__form_div_open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(189, 187, 187, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.advertisment__form {
  overflow-y: scroll;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  height: 95%;
  width: 30%;
  transition: all 0.4s;
}

.advertisment__form_button a {
  color: white;
}

.advertisment__form_button {
  /* height: 700px; */
  padding: 10px 60px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  background-color: #ffaa2b;
  border-radius: 15px;
  margin: 20px;
  cursor: pointer;
}

.advertisment__form h1 {
  padding-top: 25px;
  font-family: Nunito Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.advertisment__form_p {
  /* margin-bottom: 40px; */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #939393;
}

.advertisment__from_img {
  position: fixed;
  cursor: pointer;
  top: 23px;
  left: 935px;
}

.form-group {
  /* background-color: yellow; */
  padding: 20px;
}

.advertisment__form_input_checkbox {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  /* background-color: red; */
}

.advertisment__form_input {
  margin-top: 20px;
}

.big input {
  height: 120px;
}

.advertisment__form_input h5 {
  padding-left: 5px;
}

.advertisment__form_input img {
  margin-left: 6px;
  cursor: pointer;
}

.advertisment__form_drop_zone {
  margin-top: 7px;
  height: 110px;
  width: 270px;
  border-radius: 15px;
}

.advertisment__form_text_input {
  height: 90px;
  width: 270px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
}

.advertisment__form_input_small {
  height: 40px;
  width: 270px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: 5px;
}

.input_date {
  width: 240px;
}

input:focus {
  outline: none;
}
