.advertisment {
  margin-top: 30px;
  padding: 25px;
}
.advertisment__top_button_date_img {
  height: 12px;
  width: 12px;
  margin-right: 10px;
}

.advertisment__top_button_date {
  height: 35px;
  width: 70px;
  margin: 5px 10px 5px 30px;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(62, 73, 84, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.advertisment__top_button_date:hover {
  background-color: #e6e3e3;
}

.advertisment__top_button_go {
  height: 35px;
  width: 70px;
  margin: 5px 10px;
  border: none;
  background-color: #ffaa2b;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(62, 73, 84, 0.04);
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.advertisment__top_button_go:hover {
  background-color: #e69a28;
}

.advertisment__top {
  display: flex;
  justify-content: flex-start;
}

.advertisment__top_button_advertisment {
  width: 160px;
  margin-bottom: 30px;
  margin-right: 90px;
}

.advertisment__top_button_left_most {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.advertisment__middle {
  overflow-y: scroll;
  height: 550px;
  padding-left: 20px;
  width: 1200px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(62, 73, 84, 0.04);
}

.student__middle::-webkit-scrollbar {
  display: none;
}

.advertisment__middle::-webkit-scrollbar {
  display: none;
}

advertisment__middle_th {
  margin: 15px;
  overflow: visible;
  white-space: nowrap;
  padding: 25px 25px;
}

th {
  border-bottom: 2px solid #f4f4f4;
  font-size: 15px;
}

td {
  border-bottom: 1px solid #f5f5f5;
  font-weight: 500;
  text-align: center;
}

.advertisment__middle_td {
  overflow: visible;
  white-space: nowrap;
  padding: 0 25px;
}

.advertisment__middle_td_edit {
  height: 35px;
  margin: 5px;
  width: 65px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  background-color: #391995;
  border-radius: 15px;
  border: none;
}

.advertisment__middle_td_delete {
  margin: 5px;
  height: 35px;
  width: 65px;
  color: #171b1e;
  background-color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.advertisment__bottom {
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.advertisment__bottom p {
  font-weight: 700;
  color: #717579;
}
.advertisment__bottom_box {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.advertisment__button_box_num {
  color: #ff6175;
  cursor: pointer;
  font-weight: 700;
  border: none;
  background-color: #fff;
}

.advertisment__bottom_box_selected_num {
  height: 45px;
  width: 45px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: #ff6175;
  color: #fff;
  font-weight: 700;
}

.advertisment__button_box_arrow {
  background-color: #fbfbfb;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 40px;
}
